<nav>
    <div class="site-title">
      <a href="/"><h1>Sample</h1></a>
      <p>sample Site</p>
    </div>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/home/create">New </a></li>
    </ul>
  </nav>