<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Anime is a word that many of us have heard and may be wondering what it is. The anime represents an attractive, different, and profound art that few have seen or felt.
        The anime, in its natural origin, is essentially the abbreviated animation. In Japan, television animations (whether Japanese or other) are called anime; However, the meaning of this word is entirely different in other cultures.<pre></pre>In other cultures, Japanese animations are referred to as anime. It can be said that the term anime originally refers to animations made by Japan and is a name for addressing them and separating them from other animations. When the word anime is used, it refers to a particular style of animation and design that is completely specific to Japan, and no country has even tried to make it.<br><br>
        <h2>Reasons to watch anime</h2>
        It is true that animes are not very old and do not last long, but in this short life, they have been able to reach high levels and attract many fans. You may have sometimes wondered why we should go to anime and turn to it. Or why should we spend time watching such works? Or what is the difference between anime and works like movies and series? Or why waste our time watching them when we can watch a film or series that has more adult content? If you have or have had such questions in mind, they have definitely prevented you from entering the world of anime. To answer your questions or to clarify to some extent, the following reasons have been given that will convince you or attract you to the anime. The following are some of the main reasons why anime is so popular.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>